footer
  .container.text-center
    p.pull-left © 2015 RAK360, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/PaulSchnau/rak360') GitHub Project
      li
        a(href='https://github.com/PaulSchnau/rak360/issues') Issues