extends layout

block content
  style(type='text/css').
     #map-canvas { height: 400px; width: 100%; padding: 0;}
  h2(align="center") Browse Tasks
  hr
  .row
    .container
      #map-canvas
    hr
    p.lead
      a(href="/task") Need Help?