extends layout

block content
  style(type="text/css").
    html, div, body { 
    background: url(/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  h1(align="center")
    img(src="logo.png" height="120" width="160")
  p.lead(align="center", style='color: #0000FF') Make a difference in the world today
  .row
    .container
      .col-sm-offset-4.col-sm-4
        a.btn.btn-block.btn-facebook.btn-social(onClick="authFacebook()" href="#" style='color: #fff')
          i.fa.fa-facebook
          | Sign in with Facebook
        br
      .col-sm-offset-4.col-sm-4
        a.btn.btn-block.btn-twitter.btn-social(onClick="authTwitter()" href="#")
          i.fa.fa-twitter
          | Sign in with Twitter
        br
        a.btn.btn-default(href='/browse', role='button') Browse requests near you »
  div(id="youareonthehomepage")