extends layout

block content
  h1(align="center") RAK360
  hr
  .row
    .container
      .col-sm-offset-4.col-sm-4
        a(href='/api/facebook', style='color: #fff')
          .panel.panel-default(style='background-color: #3b5998')
            .panel-body
              img(src='http://i.imgur.com/jiztYCH.png', height=40)
      .col-sm-offset-4.col-sm-4
        a(href='/api/twitter', style='color: #fff')
          .panel.panel-default(style='background-color: #00abf0')
            .panel-body
              img(src='http://i.imgur.com/EYA2FO1.png', height=40)
              |  Twitter
        p
          a.btn.btn-default(href='/browse', role='button') Browse requests near you »