extends layout

block content
  style(type='text/css').
    #map-canvas { height: 400px; width: 100%; padding: 0;}
  .container
    .col-md-6
      .media
        .media-left
          img.media-object.img-circle(id="image" height="64" width="64")
        .media-body
            div(id="name")
            //-div(id="time")
            div(id="description")
            div(id="miles")
        form(onsubmit="sendMessage(); return false;")
          div.well(style="min-height: 200px; max-height: 200px; overflow-y:scroll;" id="chat")
          .col-sm-12
            .form-group
              .col-xs-10
                input.form-control(placeholder='Send a message', id="message", autofocus=true)
              .col-xs-2
                button.btn.btn-info(type='button' onClick="sendMessage()") Send
    .col-md-6
      #map-canvas
    .col-md-6
      button.btn.btn-success(onClick="cancelTask()") Mark Complete