extends layout

block content
  .page-header
  .media
    .media-left
      img.media-object(id="image")
    .media-body
        h4.media-heading(id="name")
        div(id="description")
    form(method='POST')
      div.well(style="min-height: 200px; max-height: 200px" id="chat")
      .col-sm-12
        .form-group
          .col-xs-10
            input.form-control(placeholder='Flare Title', id="message", autofocus=true)
          .col-xs-2
            button.btn.btn-primary(type='button' onClick="sendMessage()") Send