extends layout

block content
  .page-header
    p.lead Need Help?
    p Post flare to ask for help.
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      .form-group
        label.control-label(for='title') Title
        input.form-control(type='text', name='title', id='title', placeholder='Flare Title', autofocus=true)
      .form-group
        label.control-label(for='zip') Zip Code
        input.form-control(type='text', name='zip', id='zip', placeholder='10013')
      .form-group
        label.control-label(for='duration') Duration
        input.form-control(type='text', name='duration', id='duration', placeholder='30 Minutes')
      .form-group
        button.btn.btn-primary(type='button' onClick="newTask()")
          | Post Flare