extends layout

block content
  style(type='text/css').
     #map-canvas { height: 400px; width: 100%; padding: 0;}
  //-h2(align="center") Watach Tasks
  .row
    .container
      h3 Finding help near you...
      #map-canvas
      hr
      button.btn.btn-danger(onClick="cancelTask()") Cancel this task